# Python
__pycache__/
*.pyc

# Virtual environments
env/
venv/
.venv/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

node_modules/
frontend-nextjs/
f r o n t e n d - n e x t j s / 

chatbot_db/chroma.sqlite3
chatbot_db/

 
 